In [1]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [4]:
text = '''Tesla is going to but Twitter for 47 billion $, It was announced in a press conference today morning'''

doc = nlp(text)

for word in doc.ents:
    print(word)

Tesla
Twitter
47 billion $
today morning

In [5]:
for word in doc.ents:
    print(word,"|",word.label_,"|",spacy.explain(word.label_))

Tesla | ORG | Companies, agencies, institutions, etc.
Twitter | PERSON | People, including fictional
47 billion $ | MONEY | Monetary values, including unit
today morning | TIME | Times smaller than a day

In [6]:
from spacy import displacy
displacy.render(doc,style="ent")

In [8]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [9]:
doc = nlp("Micheal Bloomberg founded Bloomberg in 1982 " )

for ent in doc.ents:
    print(ent)

Micheal Bloomberg
Bloomberg
1982

In [10]:
displacy.render(doc,style="ent")

In [12]:
doc = nlp("Micheal Bloomberg founded Bloomberg Inc in 1982 " )
displacy.render(doc,style="ent")

In [15]:
doc[5]

in

In [16]:
doc[1:6]

Bloomberg founded Bloomberg Inc in

In [17]:
type(doc[1:6])

spacy.tokens.span.Span

In [18]:
doc=nlp("Telsa is going to acquire Twitter for 47 billion $")

from spacy.tokens import Span

s1= Span(doc, 0,1, label="ORG")
s2= Span(doc, 5,6, label="ORG")
doc.set_ents([s1,s2], default="unmodified")

In [19]:
for ent in doc.ents:
    print(ent,"|", ent.label_)

Telsa | ORG
Twitter | ORG
47 billion $ | MONEY

In [24]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc= nlp(text)

for ent in doc.ents:
    print(ent,"|",ent.label_,"|",spacy.explain(ent.label_))

Kiran | ORG | Companies, agencies, institutions, etc.
India | GPE | Countries, cities, states
Google | ORG | Companies, agencies, institutions, etc.
Google | ORG | Companies, agencies, institutions, etc.
Delhi | GPE | Countries, cities, states
Chaat | ORG | Companies, agencies, institutions, etc.
Gujarat | GPE | Countries, cities, states
Dal Dhokli | PERSON | People, including fictional
Tamilnadu | GPE | Countries, cities, states
Pongal | GPE | Countries, cities, states
Andhrapradesh | GPE | Countries, cities, states
Biryani | PERSON | People, including fictional
Assam | GPE | Countries, cities, states
Papaya Khar | PERSON | People, including fictional
Bihar | GPE | Countries, cities, states
Litti Chowkha | PERSON | People, including fictional

In [26]:
gpe_loc=[]
for ent in doc.ents:
    if ent.label_=="GPE":
        gpe_loc.append(ent)
gpe_loc

[India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]

In [27]:
print("count:" ,len(gpe_loc))

count: 8

In [30]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc= nlp(text)

for ent in doc.ents:
    print(ent,"|",ent.label_,"|",spacy.explain(ent.label_))

Sachin Tendulkar | PERSON | People, including fictional
24 April 1973 | DATE | Absolute or relative dates or periods
Virat Kholi | LOC | Non-GPE locations, mountain ranges, bodies of water
5 November 1988 | DATE | Absolute or relative dates or periods
Dhoni | PERSON | People, including fictional
7 July 1981 | DATE | Absolute or relative dates or periods
Ricky | PERSON | People, including fictional
19 December 1974 | DATE | Absolute or relative dates or periods

In [31]:
Birth_date=[]
for ent in doc.ents:
    if ent.label_=="DATE":
        Birth_date.append(ent)

In [32]:
Birth_date

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]